.WriteHeader {
  width: 100vw;
  height: 56px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 19.115vw;
  z-index: 10;

  .title {
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: bold;
    font-size: 1.25rem;
    color: #4f4f4f;
    white-space: nowrap;
  }

  .header-right {
    .login-container {
      display: flex;
      justify-content: center;

      button {
        white-space: nowrap;
        cursor: pointer;
        background: #ffffff;
        font-family: "SUIT";
        font-weight: 500;
        font-size: 0.875rem;
      }
      .loadBtn {
        border: 0;
        font-size: 13px;
        color: #00cb8e;
        margin-right: 0.625vw;
        padding: 0;
      }
      .loginBtn {
        border: 1px solid #e4e9ed;
        border-radius: 19px;
        margin-right: 0.416vw;
        padding: 0.3125vw 0.833vw;
      }
      .loginBtn:hover {
        background: #eef1f4;
        color: #191919;
      }
      .uploadBtn {
        border: 1px solid #00cb8e;
        color: #00cb8e;
        border-radius: 19px;
        padding: 0.3125vw 0.833vw;
      }
      .uploadBtn:hover {
        background: #00cb8e;
        color: #ffffff;
      }
      .profileBtn {
        box-sizing: border-box;
        width: 32px;
        height: 32px;

        border: 1px solid #eef1f4;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .WriteHeader {
    padding: 0 4.44vw;

    .header-right {
      .login-container {
        button {
          font-size: 0.75rem;
        }
        .loadBtn {
          margin-right: 12px;
        }
        .loginBtn {
          padding: 1.143vh 3.9vw;
        }
        .uploadBtn {
          padding: 1.143vh 3.9vw;
        }

        .writeheader-mobile-bottom {
          position: fixed;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 53px;
          background: #ffffff;
          border-top: 1px solid #e4e9ed;

          display: flex;
          justify-content: flex-end;
          align-items: center;

          box-sizing: border-box;
          padding: 0 4.44vw;
        }
      }
    }
  }
}
