.uploader {
  //   width: 6.823vw;
  //   height: 6.823vw;

  width: 131px;
  height: 131px;
  background: #f8f9fb;
  border: 1px solid #e4e9ed;
  background: url("../../assets/imgs/imageuploader.jpg");
  background-repeat: no-repeat;
  background-position: center 40%;

  border-radius: 10px;
  font-family: "SUIT";
  font-weight: 500;
  font-size: 0.875rem;
  color: #b1b5be;

  position: relative;

  input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .error-msg {
    color: salmon;
  }
}
.uploader::before {
  content: "이미지 등록";
  position: absolute;

  right: 25%;
  top: 65%;
  font-family: "SUIT";
  font-weight: 500;
  font-size: 0.875rem;

  color: #b1b5be;
}
