.Header {
  width: 100vw;
  height: 56px;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 1.04vw;
    color: #4f4f4f;
    padding: 0px 34.8vw 0px 18.75vw;
  }
  nav {
    ul {
      display: flex;
      justify-content: flex-start;
      padding-left: 0;

      li {
        list-style-type: none;
        font-family: "SUIT";
        font-style: normal;
        font-weight: bold;
        font-size: 0.84vw;
        color: #616269;
        width: 3.125vw;
        cursor: pointer;
      }
      li:nth-child(-n + 2) {
        padding-right: 2.5vw;
      }
      li:last-child {
        padding-right: 2.4vw;
      }
      li:hover {
        color: #191919;
      }
    }
  }

  .login-container {
    display: flex;

    button {
      cursor: pointer;
      background: #ffffff;
      font-family: "SUIT";
      font-style: normal;
      font-weight: 500;
      font-size: 0.73vw;
    }
    .loginBtn {
      border: 1px solid #e4e9ed;
      color: #616269;
      margin-right: 0.416vw;
      border-radius: 19px;
      padding: 0.3125vw 0.833vw;
    }
    .loginBtn:hover {
      background: #eef1f4;
      color: #191919;
    }
    .signUpBtn {
      border: 1px solid #00cb8e;
      color: #00cb8e;
      border-radius: 19px;
      padding: 0.3125vw 0.833vw;
    }
    .signUpBtn:hover {
      background: #00cb8e;
      color: #ffffff;
    }
  }
}
