.footer {
  background: #eef1f4;
  width: 100vw;
  height: 225px;
  display: flex;
  box-sizing: border-box;
  padding-left: 18.75vw;

  .footer-title {
    font-family: "Inter";
    font-weight: bold;
    font-size: 1.75rem;
    color: #828282;
    padding-right: 2.6041vw;
    padding-top: 33px;
  }

  .footer-content {
    display: inline-block;
    text-align: left;
    font-family: "SUIT";
    font-weight: 500;
    font-size: 0.8125rem;
    color: #616269;
    padding-top: 41px;
    line-height: 18px;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    height: 197px;
    padding: 0;

    box-sizing: border-box;
    padding-left: 4.44vw;

    display: flex;
    flex-direction: column;
    text-align: left;

    .footer-title {
      padding-top: 40px;
    }
    .footer-content {
      font-size: 0.75rem;
      padding: 0;
      img {
        margin-top: 10px;
      }
    }
  }
}
